<% if photo.image(:default) %>
  <%= image_tag(photo.image(:default).download_url, :class => "img-fluid center-block", :loading => "lazy", :width => photo.image(:default).width, :height => photo.image(:default).height) %>
  <div class="photo-num">Photo <%= @report.photo_starting_num + index %></div>
  <%= link_to("Download", photo.image.download_url) %><br>
<% else %>
  <em>Missing photo</em>
<% end %>
